.custom-tooltip {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 8px;
    border-radius: 4px;
    font-size: 14px;
    z-index: 9999;
    pointer-events: none;
    display: none;
}

.custom-tooltip {
    display: block;
    top: 60%;
    left: 5%;
    transform: translateY(8px);
}