ion-modal#example-modal {
    --width: 100%;
    --min-width: 250px;
    --max-width: 490px;
    --height: fit-content;
    --border-radius: 6px;
    --box-shadow: 0 28px 48px rgba(0, 0, 0, 0.4);
}

ion-modal#example-modal h1 {
    margin: 20px 20px 10px 20px;
}

ion-modal#example-modal ion-icon {
    margin-right: 6px;
    width: 48px;
    height: 48px;
    padding: 4px 0;
    color: #aaaaaa;
}

ion-modal#example-modal .wrapper {
    margin-bottom: 10px;
}

p {
    margin-bottom: 0px !important;
}

.close-icon {
    color: #7D76A6;
    width: 18px !important;
    position: absolute;
    right: 4px;
    top: -10px;
}

.radio-button {
    position: absolute;
    right: 15px;
    background: #F7F5FF;
    border-radius: 100px;
}

@import url('/src/theme/color.scss');

ion-select .select-wrapper .native-wrapper {
    width: 100%;
}

ion-select {
    // --background: #F7F5FF !important;
    --border-color: #eceaf600;
    --border-width: 2px;
    --border-radius: 10px;
    --color: white;
    --icon-color: white;
    --icon-background: white;
    --padding-bottom: 0px;
    --padding-top: -10px;

    &::part(icon) {
        // --color:white;
        color: #FEC200;
        width: 18px;
        position: absolute;
        right: 0px;
    }

    &::part(text) {
        color: #7D76A6;
        font-weight: 650;
        font-size: 15px;

    }

    &::part(placeholder) {
        color: #7D76A6;
        font-weight: 500;
        font-size: 15px;
    }
}

ion-select {
    .select-icon {
        .select-icon-inner {
            color: red !important;
        }
    }
}

#select-wrapper .native-wrapper {

    width: 100%;
}

ion-select label .select-wrapper {
    width: 1px !important;
}

.custom-select {
    width: 100% !important;
    max-height: 38px !important;
    height: 38px !important;
    min-height: 38px !important;
    // margin-bottom: 0px;
}
