<div class="box shadow-none">
  <div class="card-wrapper">
    <div class="card" style="border: none !important;">
      <div class="content">
        <div class="section-header">
          <div class="text-wrapper-2">Jumlah Keberangkatan</div>
          <!-- <CustomHelpCard
            class="custom-help-card-instance"
            hover={false}
            icon={<EssetionalFilter class="essetional-filter" />}
            size="xxs"
            stoke="no"
          /> -->
        </div>
        <div class="line-and-bar-chart">
          <div class="overlap-group">
            <div class="axis">
              <div class="content-2">
                <div class="legend">
                  <div class="legend-series">
                    <div class="color">
                    </div>
                    <div class="text-wrapper-3">Selesai</div>
                  </div>
                  <div class="legend-series">
                    <div class="color-2">
                    </div>
                    <div class="text-wrapper-3">Dibatalkan</div>
                  </div>
                </div>
                <div class="y-axis">
                  <div class="y-axis-line">
                    <div class="number">100</div>
                    <div class="divider">
                    </div>
                  </div>
                  <div class="y-axis-line">
                    <div class="number">40</div>
                    <div class="divider">
                    </div>
                  </div>
                  <div class="y-axis-line">
                    <div class="number">30</div>
                    <div class="divider">
                    </div>
                  </div>
                  <div class="y-axis-line">
                    <div class="number">20</div>
                    <div class="divider">
                    </div>
                  </div>
                  <div class="y-axis-line">
                    <div class="number">10</div>
                    <div class="divider">
                    </div>
                  </div>
                  <div class="y-axis-line">
                    <div class="number">0</div>
                    <div class="divider">
                    </div>
                  </div>
                  <div class="x-axis-2 w-100">
                    <div class="frame-4">
                      <div class="text-wrapper-4">Malaysia</div>
                    </div>
                    <div class="frame-4">
                      <div class="text-wrapper-4">Singapure</div>
                    </div>
                    <div class="frame-4">
                      <div class="text-wrapper-4">UAE</div>
                    </div>
                    <div class="frame-4">
                      <div class="text-wrapper-4">Taiwan</div>
                    </div>
                  </div>
                  <div class="x-axis-2 w-100" style="position: absolute;
                  top: 250px;">
                    <div class="frame-4" style="    position: absolute;  bottom: 0;
                    left: 19%;">
                      <div class="text-wrapper-4" style="width: 10px;height: 100px; background-color: blue;"></div>
                    </div>
                    <div class="frame-4" style="    position: absolute; bottom: 0;
                    left: 38%;">
                      <div class="text-wrapper-4">Singapure</div>
                    </div>
                    <div class="frame-4" style="    position: absolute;  bottom: 0;
                    left: 60%;">
                      <div class="text-wrapper-4">UAE</div>
                    </div>
                    <div class="frame-4" style="position: absolute;left: 78%; bottom: 0;">
                      <div class="text-wrapper-4">Taiwan</div>
                    </div>
                  </div>
                </div>

              </div>

            </div>
            <!-- <ChartData class="chart-data-instance" /> -->

          </div>
        </div>
      </div>
    </div>
  </div>
</div>