<!-- <div class="bg-grey-light border-radius-8 p-3">
  <ion-row>
    <p class="bold-text text-dark"> {{data.name}}</p>
    <p class="bg-purple-light text-blue ml-2 px-1 rounded"> Utama</p>
  </ion-row>
  <p>
    {{data.phone}}
  </p>
  <p>
    {{data.address}}
  </p>
  <p *ngIf="isOtherAddress" id="" class="text-blue pointer bold-text">
    Alamat Lainnya
  </p>
</div>

<app-pick-address (inputValueChange)="onAddressValueChange($event)" idModal="open-pick-address" [listData]="listAlamat"
  [currentData]="currentAlamatID"></app-pick-address>a -->