<ion-content [fullscreen]="true">
  <app-dashboard-background>
    <app-label-page title="Jadwal Penerbangan"></app-label-page>
    <ion-card class="z102 position-relative mr-4 ml-4">
      <div class="col bg-grey-blue2 p-0 text-grey">
        <ion-row class="border-bottom-light-2">
          <p *ngFor="let p of listTab" (click)="currentTab=p" class="hover-light pointer px-3 py-2"
            [class]="currentTab===p?'color-red bold-text bg-white':''">
            {{p}}
          </p>
        </ion-row>
        <div class="bg-white">
          <app-table-custom></app-table-custom>
        </div>
      </div>
    </ion-card>
  </app-dashboard-background>
</ion-content>