ion-input.custom {
    // --background: #F7F5FF;
    --color: #615b80;
    --placeholder-color: #7D76A6;
    --placeholder-font-size: '12px';
    --placeholder-font-weight: 500;
    --placeholder-opacity: 0.6;
    --border-radius: 10px;
    --padding-bottom: 0px;
    --padding-end: 10px;
    --padding-start: 10px;
    --padding-top: 4px;
    --highlight-color-focused: none;
    --highlight: none;
    --highlight-color-valid: none;
    --highlight-color-invalid: none;
    font-size: 12px;
}

ion-input.custom .helper-text,
ion-input.custom .counter {
    color: var(--ion-color-step-700, #373737);
}

.border-input {
    border: solid 1px #ECEAF6;
}
ion-input.input-wrapper.sc-ion-input-md {
    margin: 0 !important;
  }
.input-field-small {
    min-height: 28px !important;
    max-height: 30px !important;
    border-radius: 10px;
    padding-left: 8px !important;
    --highlight-color-focused: none;
    --highlight: none;
    --highlight-color-valid: none;
    --highlight-color-invalid: none;
    --border-radius: 10px;
    --padding-bottom: 0px;
    --padding-end: 10px;
    // --padding-start: 10px;
    --padding-top: 4px;
    margin-bottom: 0px !important;

}
::ng-deep .input-field-small ion-input.input-wrapper.sc-ion-input-md {
    margin: 0 !important;
}
::ng-deep .input-wrapper label {
    margin: 0;
  }
.input-field {
    // background: #F7F5FF;
    // margin-bottom: 16px;
    min-height: 28px !important;
    max-height: 40px !important;
    border-radius: 10px;
    padding-left: 10px !important;
}

.input-field input::placeholder {
    font-size: 10px !important;
    font-weight: 500;
}

.custom-item {
    min-height: 38px !important;
    max-height: 40px !important;
}