<ion-content class="ion-padding">


  <ion-datetime #datetime presentation="time" [(ngModel)]="date" (ionChange)="confirm(datetime.value)">
    <!-- <ion-buttons slot="buttons">
      <ion-button color="primary" (click)="datetime.cancel()">back</ion-button>
      <ion-button color="primary" (click)="confirm()">All Set</ion-button>
    </ion-buttons> -->
    <ion-row slot="buttons" class="justify-content-between w-100">
      <ion-button color="red-light" (click)="confirm('')">
        <p class="color-red mb-0 non-capitalize">
          Batal
        </p>
      </ion-button>
      <ion-button color="red" class="text-white ml-3 non-capitalize" (click)="datetime.confirm()">
        Simpan
      </ion-button>
    </ion-row>
  </ion-datetime>
</ion-content>