ion-modal#example-modal {
    --width: 100%;
    --min-width: 200px;
    --max-width: 500px;
    --max-height: fit-content !important;
    --height: fit-content;
    --border-radius: 6px;
    --box-shadow: 0 28px 48px rgba(0, 0, 0, 0.4);
    // display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

.with-overflow {
    overflow: auto;
}

.with-overflow::-webkit-scrollbar {
    width: 0.5em;
    /* Adjust scrollbar width as needed */
}

.with-overflow::-webkit-scrollbar-thumb {
    background-color: #888;
}

.with-overflow::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

ion-modal#example-modal h1 {
    margin: 20px 20px 10px 20px;
}

ion-modal#example-modal ion-icon {
    margin-right: 6px;
    width: 48px;
    height: 48px;
    padding: 4px 0;
    color: #aaaaaa;
}

ion-modal#example-modal .wrapper {
    margin-bottom: 10px;
}

.right-modal {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

p {
    margin-bottom: 0px !important;
}

.close-icon {
    color: #7D76A6;
    width: 18px !important;
    position: absolute;
    right: 4px;
    top: -10px;
}

.radio-button {
    position: absolute;
    right: 15px;
    background: #F7F5FF;
    border-radius: 100px;
}

p {
    margin-bottom: 0;
}