@import 'mixin.scss';

.pointer {
    cursor: pointer;
}

.hover-light:hover {
    background: #f4f5f8;
}

.border-bottom-blue {
    border-bottom: 2px solid #5B40F6;
}

.border-bottom-blue-2 {
    border-bottom: 3px solid #5B40F6;
}

.h6 {
    font-size: 1.2rem !important;
}

.h7 {
    font-size: 1.03rem !important;
}

.h8 {
    font-size: 0.92rem !important;
}

.small-icon {
    border-radius: 100px;
    width: 40px;
    height: 40px;
    object-fit: cover;
}

.w-48 {
    width: 48% !important;
}

.icon-medium {
    height: 20px !important;
    width: 20px !important;
}

.popover-country {
    width: 500px;
}

.icon-medium-24 {
    height: 24px !important;
    width: 24px !important;
}

.circle {border-radius: 100px;}

.icon-medium-22 {
    height: 22px !important;
    width: 22px !important;
}

.closeButton:hover {
    background-color: rgb(245, 89, 89);
    color: white;
}

.checkButton:hover {
    background-color: rgb(89, 245, 172);
    color: white;
}

.z102 {
    z-index: 102;
}

.cardForm {
    max-width: 820px;
    width: 90%;
}

.cardForm-900 {
    max-width: 900px;
    width: 100%;
}

.cardForm-1000 {
    max-width: 1000px;
    width: 100%;
}

.mt5 {
    margin-top: 5rem;
}

.mt4 {
    margin-top: 4rem;
}

.mt3 {
    margin-top: 3rem;
}

.mt2 {
    margin-top: 2rem;
}

.mt1 {
    margin-top: 1rem;
}

.w-90 {
    width: 90%;
}

.w-95 {
    width: 95%;
}

.w-94 {
    width: 94%;
}

.w-93 {
    width: 93%;
}

.w-92 {
    width: 92%;
}

.w-91 {
    width: 91%;
}

.w-95 {
    width: 95%;
}

.w-98 {
    width: 98%;
}

.w-97 {
    width: 97%;
}

.w-96 {
    width: 96%;
}

div.native-wrapper {
    width: 100% !important;
}

.native-wrapper {
    width: 100%;
}

.text-overflow {
    max-width: 220px !important;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

ion-alert.custom-alert {
    --backdrop-opacity: 0.5;
}

.custom-alert .alert-button-group {
    justify-content: left;
}

.alert-wrapper.sc-ion-alert-md {
    border-radius: 12px;
    padding: 8px;
    min-width: 300px;
}

.alert-title.sc-ion-alert-md {
    font-weight: 600;
}

.alert-head.sc-ion-alert-md {
    padding-left: 12px;
}

.alert-message.sc-ion-alert-md {
    padding: 0 12px 8px 12px;
}

button.alert-button.alert-button-confirm {
    @include bg-purple-light();

    color: var(--ion-color-blue-purple);
}

button.alert-button.alert-button-cancel {
    @include bg-purple();
    color: var(--ion-color-success-contrast);
}

.md button.alert-button.alert-button-confirm,
.md button.alert-button.alert-button-cancel {
    @include border-radius-button-8();
}

.ios .custom-alert button.alert-button {
    border: 0.55px solid rgba(var(--ion-text-color-rgb, 0, 0, 0), 0.2);
}

.ios button.alert-button.alert-button-cancel {
    border-right: 0;
    border-bottom-left-radius: 13px;
    border-top-left-radius: 13px;
}

.ios button.alert-button.alert-button-confirm {
    border-bottom-right-radius: 13px;
    border-top-right-radius: 13px;
}

.non-capitalize {
    text-transform: none;
}

.border-radius-8 {
    @include border-radius-button-8();
}

.inisialName {
    width: 42px;
    height: 42px;
    padding-top: 0.75rem;
    text-align: center;
    font-family: system-ui;
    font-style: normal;
    font-weight: 650 !important;
    font-size: 18px !important;
    line-height: 16px !important;
    color: #5B40F6;
}

.imageCard {
    max-height: 108px;
    min-height: 108px;
}

.loader-css-class {
    box-shadow: none !important;
    --background: transparent !important;
}

.shadow-none {
    box-shadow: none !important;
}

.loading-title {
    text-align: center;
    width: 100%;
    top: 30px;
    right: 0;
    position: absolute;
}

.custom-item-40 {
    width: 100% !important;
    max-height: 40px !important;
    height: 40px !important;
    min-height: 40px !important;
    border: solid 1.2px #ECEAF6;
    border-radius: 11px;
    background: #F7F5FF;
}

.custom-item-40--custom {
    margin-right: 0px !important;
    // width: 100% !important;
    max-height: 40px !important;
    height: 40px !important;
    min-height: 40px !important;
    border: solid 1.2px #ECEAF6;
    border-radius: 11px;
    background: #F7F5FF;
}

.custom-item-40--border {
    width: 100% !important;
    max-height: 40px !important;
    height: 40px !important;
    min-height: 40px !important;
    border: solid 1.2px #eceaf600;
    border-radius: 11px;
    background: #F7F5FF;
}

.imgNimpa {
    position: relative;
    left: -15px;
    z-index: 9999;
    top: 0px;
}

.right-header-table {
    position: absolute !important;
    right: 50px !important;
}

.card-label {
    border-radius: 10px;
    align-self: center;
    padding: 0.3rem 0.7rem;
}

.custom-item-50 {
    width: 100% !important;
    max-height: 50px !important;
    height: 50px !important;
    min-height: 50 px !important;
    border: solid 1.2px #ECEAF6;
    border-radius: 11px;
    background: #F7F5FF !important;
}

.h-min-content {
    height: min-content;
}

.min-width-250 {
    min-width: 250px !important;
}

.min-width-200 {
    min-width: 200px !important;
}

ion-modal#example-modal {
    --width: 100%;
    --min-width: 250px;
    --max-width: 500px;
    --height: fit-content;
    --border-radius: 6px;
    --box-shadow: 0 28px 48px rgba(0, 0, 0, 0.4);
    --max-height: 560px !important;
    --overflow: overlay !important;
}

ion-modal#example-modal::-webkit-scrollbar {
    width: 0;
    height: 0;
    background-color: transparent;
}

ion-modal#example-modal h1 {
    margin: 20px 20px 10px 20px;
}


ion-modal#example-modal .wrapper {
    margin-bottom: 10px;
}

.close-icon {
    color: #7D76A6;
    width: 18px !important;
    position: absolute;
    right: 4px;
    top: -10px;
}

.center-center {
    align-self: center;
    // text-align: center;
}

.fit-content {
    width: fit-content;
}

.radio-button {
    position: absolute;
    right: 15px;
    background: #F7F5FF;
    border-radius: 100px;
}

.border-left {
    border-left: 1.2px solid #ECEAF6 !important;
    border-radius: 0px !important;
}

.icon-partner {
    width: 70px;
    height: 40px;
    object-fit: contain;
    place-self: center;
}

.loading-wrapper.sc-ion-loading-md {
    box-shadow: none !important;
}