.dropdown-options {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  max-height: 200px;
  overflow-y: auto;
  background-color: white;
  border: 1px solid #ccc;
  border-top: none;
  z-index: 1000;
  display: none; /* Remove this line */
}

.dropdown-container:hover .dropdown-options {
  display: block; /* Add this line */
}
ion-modal#example-modal {
  --width: 100%;
  --min-width: 250px;
  --max-width: 300px;
  --height: 500px;
  --border-radius: 6px;
  --box-shadow: 0 28px 48px rgba(0, 0, 0, 0.4);
}

ion-modal#example-modal h1 {
  margin: 20px 20px 10px 20px;
}

ion-modal#example-modal ion-icon {
  margin-right: 6px;
  width: 48px;
  height: 48px;
  padding: 4px 0;
  color: #aaaaaa;
}

ion-modal#example-modal .wrapper {
  margin-bottom: 10px;
  overflow: auto;
}

p {
  margin-bottom: 0px !important;
}

.close-icon {
  color: #7D76A6;
  width: 18px !important;
  position: absolute;
  right: 4px;
  top: -10px;
}