p {
    margin-bottom: 0;
}

ion-item.header-table {
    --padding-start: 0;
    --padding-end: 0;
    --padding-inline-end: 0;
    --inner-padding-end: 0;
    --inner-padding-start: 0;
}

.progress-bar {
    height: 10px;
    width: 100%;
    background-color: red;
    transition: width 0.5s ease-in-out;
}

.progress-container {
    width: 100%;
    height: 20px;
    background-color: #ccc;
    border-radius: 10px;
    overflow: hidden;
    margin: 20px 0;
}

ion-item ion-input {
    // --padding-start: 0;
    --padding-end: 0;
}

.padding100 {
    padding-bottom: 100px !important;
}

.max-width-200 {
    max-width: 210px !important;
}

ion-modal.customModal {
    --width: 100%;
    --min-width: 250px;
    --max-width: 400px;
    --height: fit-content;
    --border-radius: 6px;
    --box-shadow: 0 28px 48px rgba(0, 0, 0, 0.4);
}

ion-modal.customModal h1 {
    margin: 20px 20px 10px 20px;
}

ion-modal.customModal ion-icon {
    margin-right: 6px;
    width: 48px;
    height: 48px;
    padding: 4px 0;
    color: #aaaaaa;
}

ion-modal#example-modal .wrapper {
    margin-bottom: 10px;
}

.custom-popover {
    --width: 150px;
}

.tooltip-container {
    position: relative;
}

.tooltip {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 8px;
    border-radius: 4px;
    font-size: 14px;
    z-index: 9999;
    width: max-content;
    pointer-events: none;
    display: none;
}

.tooltip-container:hover .tooltip {
    display: block;
    top: 100%;
    left: 0;
    transform: translateY(8px);
}