<div class="table" style="    overflow: auto;" *ngIf="isReady">
  <div *ngIf="type==='schedule' || type==='regulasi'" class="row my-2 justify-content-between mx-0 align-items-center"
    style="position: sticky; left: 0;">
    <div class="row">
      <div class="px-3 py-2 border-light row ml-4 align-items-center" *ngIf="dataTableSettings.checkbox">
        <ion-checkbox labelPlacement="end" [checked]="isCheckAll" value="isCheckAll"
          [(ngModel)]="isCheckAll"></ion-checkbox>
        <p class="text-grey mb-0 ml-2">Pilih Semua</p>
      </div>
      <form [formGroup]="formSearch">
        <div class="row ml-1 align-items-center">
          <div *ngIf="dataTableSettings.title" class="ml-4 bold-text align-items-center">
            <p class="h7">
              {{dataTableSettings.title}}
            </p>
          </div>
          <app-input-form class="ml-3 min-width-200 bg-white" *ngIf="!isCheckAll && dataTableSettings.search"
            typeInput="search" placeholder="Cari" color="white" formControlName="search"
            background="grey"></app-input-form>
          <input type="file" name="importData" id="importData" hidden #fileImport>
          <input type="file" name="exportData" id="exportData" hidden>
          <div *ngIf="!isCheckAll && dataTableSettings.import"
            class="ml-4 px-3 py-2 border-light row hover-light pointer bg-red-light align-items-center"
            (click)="importData()">
            <img src="assets/icon/icon-download-red.svg" class="icon-medium-20">
            <p class="color-red mb-0 ml-2">Import Data</p>
          </div>
          <div *ngIf="isCheckAll" class="ml-4 px-2 py-1 border-light row hover-light pointer bg-red-light"
            (click)="deleteAll()">
            <ion-icon name="trash" class="p-0 center-center color-red" style="width: 24px; height: 24px;"></ion-icon>
          </div>
        </div>
      </form>
    </div>
    <form [formGroup]="formSearch">
      <div class="row mr-4">
        <p class="mb-0 center-center text-grey">
          {{((page - 1)*show)+1}}-{{show*page}} dari {{total_data}}
        </p>
        <div *ngIf="dataTableSettings.exportData"
          class="ml-4 px-3 py-2 border-light row hover-light pointer align-items-center" (click)="exportData()">
          <img src="assets/icon/icon-upload.svg">
          <p class="text-grey mb-0 ml-2">Export Data</p>
        </div>
        <app-input-form class="ml-3 min-width-200 bg-white" *ngIf="dataTableSettings.rightSearch" typeInput="search"
          placeholder="Cari" color="white" formControlName="search" background="grey"></app-input-form>
        <div class="ml-4 mr-4 px-2 py-1 border-light row hover-light pointer " (click)="openFilter()">
          <ion-icon name="icon-filter-2" class="p-0 center-center color-red"
            style="width: 20px; height: 20px;"></ion-icon>
        </div>
        <ion-button *ngIf="dataTableSettings.add_penerbangan" (click)="openAddPenerbangan()" color="red"
          class="non-capitalize"><ion-icon name="add"></ion-icon> Jadwal Penerbangan</ion-button>
      </div>
    </form>

  </div>
  <div *ngIf="type==='schedule-import'" class="col my-3" style="position: sticky; left: 0;">
    <div class="ml-4">
      <div class="row justify-content-between">
        <p class="bold-text h6 ">
          Import Jadwal
        </p>
        <p (click)="openAlertKonfirmasi(p)"
          class="mb-0 py-1 px-3 pointer bg-red-light color-red border-radius-8 mr-3 bold-text"
          style="width: fit-content; float:right; position: absolute; right:10px;">Proses Import</p>
      </div>
      <div class="row mt-2 ">
        <p class=" col-2">
          Template Import
        </p>
        <p class="bold-text color-red col-4 p-0">
          Unduh Template
        </p>
      </div>
      <div class="row mt-2" style="place-items: center;">
        <p class=" col-2">
          File Jadwal Flight
        </p>
        <div class="col-4 row text-center center-center " style="place-items: center;">
          <input type="file" name="importData" id="importData" (change)="handleFile($event)" hidden #fileInput>

          <p class=" p-2 bg-grey-blue2 border-radius-8 pointer hover-light" (click)="triggerFileInput()">
            Ubah File
          </p>
          <p class="text-grey ml-2">
            fileName
          </p>
        </div>
        <p (click)="openAlertKonfirmasi(p)" class="mb-0 py-1 px-3 pointer mr-3 bold-text"
          style="width: fit-content; float:right; position: absolute; right:10px;">Total Data: {{dataTable.length}}
          Jadwal </p>
      </div>
    </div>
  </div>
  <div>
    <ion-content [style]="customCssContent">
      <div>
        <ion-item lines="none" class="header-table">
          <div class="row bg-grey-blue py-2 w-100" style="padding-left: 2.5rem !important;">
            <div class="col" *ngFor="let p of listHeaderTabel; " [style]="widthCol(p.width)">
              <div class="row" [class]="p.css">
                <p class="mb-0 text-grey bold-text" style="font-size: 10px !important;">
                  {{p.label.toUpperCase()}}
                </p>
                <div class="ml-1" *ngIf="p.sort">
                  <div *ngIf="!p.sortASC">
                    <img src="assets/icon/sort-bottom.svg" (click)="sortDataAscending(p)"
                      style="position: absolute; top: 1px; width: 10px;  transform: rotate(180deg)" class="pointer">
                    <img src="assets/icon/sort-bottom-e.svg" (click)="sortDataDescending(p)"
                      style="position: absolute; bottom: 1px; width: 10px;" class="pointer">
                  </div>
                  <div *ngIf="p.sortASC">
                    <img src="assets/icon/sort-top-e.svg" (click)="sortDataAscending(p)"
                      style="position: absolute; top: 1px; width: 10px;" class="pointer">
                    <img src="assets/icon/sort-bottom.svg" (click)="sortDataDescending(p)"
                      style="position: absolute; bottom: 1px; width: 10px;" class="pointer">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ion-item>

        <ion-list [class]="openTooltip?'padding100':''">
          <!-- row schedule -->
          <div *ngIf="type === 'regulasi'">
            <ion-row lines="none" class="border-light mx-2 py-2 pr-0 hover-light mb-2" *ngFor="let p of dataTable">
              <div class="row pl-3 w-100">
                <div class="col center-center max-width-200">
                  <div class="row pl-3 align-items-center">
                    <ion-checkbox *ngIf="dataTableSettings.checkbox" style="width: 30px;
                    align-self: center;"></ion-checkbox>
                    <div class="align-self-center mr-2">
                      <img [src]="p.country_image" class="small-icon">
                    </div>
                    <p class="mb-0 bold-text">
                      {{p.country}}
                    </p>
                  </div>
                </div>
                <div class="col center-center max-width-200">
                  <p class="text-dark">
                    {{p.initial_vendor}}
                  </p>
                </div>
                <div class="col center-center max-width-200" style="max-width: 400px !important;">
                  <div *ngFor="let q of p.role; let i = index">
                    <p [class]="i >= 2 ?'text-grey':'text-dark'" *ngIf="i < 3">
                      {{ i >= 2 ? '+ ' + (p.role.length-2)+' Lainnya' : q }}
                    </p>
                  </div>
                </div>
                <div class="col center-center max-width-200" style="max-width: 400px !important;">
                  <p class="text-dark">
                    {{p.show_column}} Kolum
                  </p>
                  <p class="text-grey">
                    dari {{p.max_column}} Kolum
                  </p>
                </div>
                <div class="row center-center" style="min-width: 260px;justify-content: right;">
                  <ion-icon (click)="openManifest(p)" name="icon-edit"
                    class="border-light  p-1 pointer hover-light mr-2 icon-medium-20" color="grey" style="    position: relative !important;
                    right: 6px !important;"></ion-icon>
                </div>
              </div>
            </ion-row>
          </div>
          <div *ngIf="type !== 'regulasi'">
            <ion-row lines="none" class="border-light mx-2 py-2 pr-0 hover-light mb-2"
              *ngFor="let p of dataTable; let i = index">
              <div class="row pl-3 w-100 align-items-center">
                <div class="col center-center max-width-200" *ngIf="dataTableSettings.destinasi"
                [style]="widthCol('','body','DESTINASI')"
                >
                  <div class="row pl-3 align-items-center">
                    <ion-checkbox *ngIf="dataTableSettings.checkbox" style="width: 30px;
                    align-self: center;"></ion-checkbox>
                    <div class="align-self-center">
                      <img [src]="p.image_from" class="small-icon">
                      <img [src]="p.image_to" class="small-icon imgNimpa bg-red">
                    </div>
                    <div>
                      <p class="mb-0 bold-text">
                        {{p.country}}
                      </p>
                      <p class="text-grey mb-0">
                        Vendor <span class="bold-text text-dark">{{p.vendor}}</span>
                      </p>
                    </div>
                  </div>
                </div>
                <div *ngIf="dataTableSettings.no_bag" class="col center-center max-width-200 pointer"
                  (click)="openRingkasan(p)" [style]="widthCol('','body','NO.BAG')">
                  <p class="bold-text">
                    {{p.no_bag}}
                  </p>
                </div>
                <div *ngIf="dataTableSettings.loading_bag" class="col  center-center max-width-200 pointer"
                  [style]="widthCol('','body','LOADING BAG')">
                  <ion-row class="justify-content-between align-self-center">
                    <ion-row class="align-items-center pr-2">
                      <ion-icon name="box" class="mr-1" *ngIf="p.loading_bag.siap_diangkut===0">
                      </ion-icon>
                      <ion-icon name="box-red" class="mr-1" *ngIf="p.loading_bag.siap_diangkut!==0">
                      </ion-icon>
                      <p class="text-grey">
                        {{p.loading_bag.siap_diangkut}}
                      </p>
                    </ion-row>
                    <ion-row class="align-items-center border-left-light pl-2">
                      <ion-icon name="truck-fast" class="mr-1 bg-grey-blue circle p-1"
                        *ngIf="p.loading_bag.diangkut===0">
                      </ion-icon>
                      <ion-icon name="truck-fast-red" class="mr-1 bg-red-light circle p-1"
                        *ngIf="p.loading_bag.diangkut!==0">
                      </ion-icon>
                      <p class="text-grey">
                        {{p.loading_bag.diangkut}}
                      </p>
                    </ion-row>
                    <ion-row class="align-items-center border-left-light pl-2">
                      <ion-icon name="house" class="mr-1 bg-grey-blue circle p-1" *ngIf="p.loading_bag.dibandara===0">
                      </ion-icon>
                      <ion-icon name="house-red" class="mr-1 bg-red-light circle p-1"
                        *ngIf="p.loading_bag.dibandara!==0">
                      </ion-icon>
                      <p class="text-grey">
                        {{p.loading_bag.dibandara}}
                      </p>
                    </ion-row>

                  </ion-row>

                </div>

                <div *ngIf="dataTableSettings.mawb" class="col center-center max-width-200 pointer"
                  (click)="openRingkasan(p)" [style]="widthCol('','body','MWAB')">
                  <p class="color-red bold-text">
                    {{p.mawb}}
                  </p>
                </div>

                <div *ngIf="dataTableSettings.no_resi" class="col center-center max-width-200">
                  <p class="bold-text">
                    {{p.no_resi}}
                  </p>
                </div>
                <div *ngIf="dataTableSettings.berat_tertagih" class="col center-center max-width-200">
                  <p class="bold-text">
                    {{p.berat_tertagih}} Kg
                  </p>
                </div>
                <div *ngIf="dataTableSettings.total_resi" class="col center-center max-width-200"
                  [style]="widthCol('','body','TOTAL RESI')">
                  <p class="bold-text">
                    {{p.total_resi}}
                  </p>
                </div>
                <div *ngIf="dataTableSettings.total_weight" class="col center-center max-width-200"
                  [style]="widthCol('','body','TOTAL BERAT')">
                  <p class="bold-text">
                    {{p.total_weight}} Kg
                  </p>
                </div>
                <div *ngIf="dataTableSettings.komoditas" class="col center-center max-width-200">
                  <p class="bold-text">
                    {{p.komoditas}}
                  </p>
                </div>
                <div *ngIf="dataTableSettings.date_flight" class="col center-center max-width-200"
                  [style]="widthCol('','body','TANGGAL TERBANG')">
                  <p class="text-grey">
                    {{p.date_flight | timeFormatted}}
                  </p>
                </div>
                <div *ngIf="dataTableSettings.bagRanges" class="col center-center max-width-200"
                  [style]="widthCol('','body','BAG RANGE')">
                  <p class="text-dark">
                    {{p.bag_range}}
                  </p>
                </div>
                <div *ngIf="dataTableSettings.infoBag" class="col center-center max-width-200"
                  [style]="widthCol('','body','INFO BAG')">
                  <p class="text-dark mb-1">
                    {{p.bag_send}} terpakai dari {{p.total_bag}}
                  </p>
                  <div class="w-100 bg-grey-blue border-light mb-2" style="height: 10px;">
                    <div class="progress-bar border-radius-8 " [style.width.%]="(p.total_bag/p.bag_send)"></div>
                  </div>
                </div>
                <div *ngIf="dataTableSettings.totalBag" class="col center-center max-width-200"
                  [style]="widthCol('','body','TOTAL BAG')">
                  <p class="text-dark bold-text">
                    {{p.total_bag}} <span class="text-grey">
                      ( {{p.total_weight}} Kg )
                    </span> <span>
                      <ion-icon name="help-circle-outline" class="color-grey circle p-0 ml-1 pointer icon-medium-20"
                        style="position: relative; top: 5px; right:0px;"
                        (mouseenter)="toggleTooltip(p.uuid, 'weight', true)"
                        (mouseleave)="toggleTooltip(p.uuid, 'weight', false)"></ion-icon>
                      <app-hover [content]="'Est Weight '+p.est_weight" type="est_bag"
                        [show]="tooltipStates[p.uuid]?.weight"></app-hover>
                    </span>
                  </p>
                </div>
                <div *ngIf="dataTableSettings.totalCollie" class="col center-center max-width-200">
                  <p class="text-dark">
                    {{p.total_collie}}
                  </p>
                </div>
                <div *ngIf="dataTableSettings.airlines" class="col center-center max-width-200">
                  <p class="text-dark">
                    {{p.airlines}}
                  </p>
                </div>
                <div *ngIf="dataTableSettings.noFlight" class="col center-center max-width-200">
                  <p class="text-dark">
                    {{p.no_flight}}
                  </p>
                </div>
                <div *ngIf="dataTableSettings.agent" class="col center-center max-width-200">
                  <p class="text-dark">
                    {{p.agent}}
                  </p>
                </div>
                <div *ngIf="dataTableSettings.departed" class="col center-center max-width-200"
                  style="min-width: 280px;">
                  <p class="text-dark">
                    {{p.date_departed}} <span class="text-grey">Departed</span>
                    <span *ngIf="validateDate(p.date_departed)">
                      <ion-icon name="information-outline" [id]="'pop-over-departed-'+p.uuid"
                        class="color-red circle bg-red-light p-1 ml-1 pointer"
                        style="position: relative; top: 7px; right:0px;"
                        (mouseenter)="toggleTooltip(p.uuid, 'date_departed', true)"
                        (mouseleave)="toggleTooltip(p.uuid, 'date_departed', false)"></ion-icon>
                    </span>
                  </p>
                  <p>
                    {{p.date_arival}} <span class="text-grey">Arival</span>
                  </p>
                  <app-hover [id]="'est_bag'+p.uuid" [content]="'Est Bag'+p.bag" type="expired_schedule"
                    [show]="tooltipStates[p.uuid]?.date_departed"></app-hover>
                </div>
                <div *ngIf=" dataTableSettings.weight" class="col center-center max-width-200">
                  <p class="text-dark">
                    {{p.bag}}
                    <span *ngIf="dataTableSettings.estWeight">
                      <ion-icon name="help-circle-outline" [id]="'pop-over-estWeight-'+p.uuid"
                        class="color-grey circle p-0 ml-1 pointer icon-medium-20"
                        style="position: relative; top: 5px; right:0px;"
                        (mouseenter)="toggleTooltip(p.uuid, 'bag', true)"
                        (mouseleave)="toggleTooltip(p.uuid, 'bag', false)"></ion-icon>
                      <app-hover [content]="'Est Bag '+p.est_bag" type="est_bag"
                        [show]="tooltipStates[p.uuid]?.bag"></app-hover>

                    </span>
                  </p>
                </div>
                <div *ngIf="dataTableSettings.bag" class="col center-center max-width-200">
                  <p class="text-dark">
                    {{p.weight}}
                    <span *ngIf="dataTableSettings.estBag">
                      <ion-icon name="help-circle-outline" [id]="'pop-over-estBag-'+p.uuid"
                        class="color-grey circle p-0 ml-1 pointer icon-medium-20"
                        style="position: relative; top: 5px; right:0px;"
                        (mouseenter)="toggleTooltip(p.uuid, 'weight', true)"
                        (mouseleave)="toggleTooltip(p.uuid, 'weight', false)"></ion-icon>
                      <app-hover [content]="'Est Weight '+p.est_weight" type="est_bag"
                        [show]="tooltipStates[p.uuid]?.weight"></app-hover>
                    </span>
                  </p>
                </div>
                <div *ngIf="dataTableSettings.collie" class="col center-center max-width-200">
                  <p class="text-dark">
                    {{p.collie}}
                  </p>
                </div>
                <div class="col center-center max-width-200" [style]="widthCol('','body','CREATED AT')"
                  *ngIf="dataTableSettings.created_at">
                  <p class="text-dark text-right">
                    {{p.created_at | timeFormatted}}
                  </p>
                </div>
                <div class="col center-center max-width-200 text-right" *ngIf="dataTableSettings.diperbarui"
                  [style]="widthCol('','body','DIPERBARUI')">
                  <div>
                    <p class="text-dark">
                      {{p.PIC}}
                    </p>
                    <p class="text-dark">
                      {{p.diperbarui | timeFormatted}}
                    </p>
                  </div>
                </div>
                <div class="col center-center max-width-200" *ngIf="dataTableSettings.edited"
                  [style]="widthCol('','body','DIBUAT OLEH')">
                  <div>
                    <p class="text-dark">
                      {{p.country}}
                    </p>
                    <p class="text-grey mb-0">
                      {{p.date_flight | timeFormatted}}
                    </p>
                  </div>
                </div>
                <div *ngIf="dataTableSettings.status" class="col center-center max-width-200">
                  <app-label-status [status]="p.status"></app-label-status>
                </div>
                <div class="row center-center align-items-center" style="min-width: 260px;justify-content: right;     position: absolute;
                right: 40px;">
                  <p *ngIf="dataTableSettings.confirm" (click)="openAlertKonfirmasi(p)"
                    class="mb-0 py-1 px-3 pointer bg-red-light color-red border-radius-8 mr-3 bold-text"
                    style="width: fit-content; float:right;">Konfirmasi</p>
                  <p *ngIf="dataTableSettings.complete" (click)="openAlertComplete(p)"
                    class="mb-0 py-1 px-3 pointer bg-red-light color-red border-radius-8 mr-3 bold-text"
                    style="width: fit-content; float:right;">Sampai</p>
                  <p *ngIf="dataTableSettings.ready" (click)="openKeberangkatan(p)"
                    class="mb-0 py-1 px-3 pointer bg-red-light color-red border-radius-8 mr-3 bold-text"
                    style="width: fit-content; float:right;">Berangkat</p>
                  <ion-icon *ngIf="dataTableSettings.print" (click)="openRingkasan(p)" name="print-outline"
                    class="border-light  p-1 pointer hover-light mr-2 icon-medium-20" color="grey" style="    position: relative !important;
                    right: 6px !important;"></ion-icon>
                  <ion-icon *ngIf="dataTableSettings.option" [id]="'pop-over-'+p.uuid" name="ellipsis-vertical"
                    class="border-light  p-1 pointer hover-light mr-2 icon-medium-20" color="grey" style="    position: relative !important;
                    right: 6px !important;"></ion-icon>
                  <ion-icon *ngIf="dataTableSettings.optionRiwayat" [id]="'pop-over-riwayat-'+p.uuid"
                    (click)="presentPopover()" name="ellipsis-vertical"
                    class="border-light  p-1 pointer hover-light mr-2 icon-medium-20" color="grey" style="    position: relative !important;
                    right: 6px !important;"></ion-icon>
                  <ion-icon *ngIf="dataTableSettings.detail" (click)="openRingkasan(p)" name="eye"
                    class="border-light  p-1 pointer hover-light mr-2" color="dark" style="    position: relative !important;
                    right: 6px !important;"></ion-icon>
                  <ion-icon *ngIf="dataTableSettings.detail_penerbangan" (click)="goToDetailPenerbangan(p)" name="eye"
                    class="border-radius-8 bg-red-light p-1 pointer hover-light mr-2" color="red" style="    position: relative !important;
                    right: 6px !important;"></ion-icon>
                  <ion-icon *ngIf="dataTableSettings.detail_manifest_bag" (click)="goToDetailManifest(p)" name="eye"
                    class="border-light  p-1 pointer hover-light mr-2" color="grey" style="    position: relative !important;
                    right: 6px !important;"></ion-icon>
                  <ion-icon *ngIf="dataTableSettings.option_penerbangan" [id]="'pop-over-'+p.uuid"
                    name="ellipsis-vertical" class="border-light  p-1 pointer hover-light mr-2 icon-medium-20"
                    color="grey" style="    position: relative !important;
                     right: 6px !important;"></ion-icon>
                  <ion-icon *ngIf="dataTableSettings.trash" (click)="openAlertTrash(p)" name="trash-outline"
                    class="border-light  p-1 pointer hover-red-icon mr-2 icon-medium-20 color-grey" style="    position: relative !important;
                    right: 6px !important;"></ion-icon>
                  <ion-icon *ngIf="dataTableSettings.detail_bag" (click)="openRingkasanBag(p)" name="icon-detail-bag"
                    class="border-light  p-1 pointer hover-red-icon mr-2 icon-medium-20 color-grey" style="    position: relative !important;
                     right: 6px !important;"></ion-icon>
                  <ion-icon *ngIf="dataTableSettings.trash_bag" (click)="openAlertTrashBag(p)" name="trash-outline"
                    class="border-light  p-1 pointer hover-red-icon mr-2 icon-medium-20 color-grey" style="    position: relative !important;
                    right: 6px !important;"></ion-icon>
                  <ion-popover *ngIf="dataTableSettings.option" [trigger]="'pop-over-'+p.uuid" triggerAction="click">
                    <ng-template>
                      <ion-content class="ion-padding">
                        <ion-row class="pointer hover-light" *ngIf="dataTableSettings.optionChange"
                          (click)="openAlertChangeSchedule(p)">
                          <ion-icon name="calendar-clear" class="text-grey center-center mr-1"></ion-icon>
                          Ubah Jadwal
                        </ion-row>
                        <ion-row class="pointer hover-light" *ngIf="dataTableSettings.optionChangeVendor"
                          (click)="openAlertChangeSchedule(p)">
                          <ion-icon name="calendar-clear" class="text-grey center-center mr-1"></ion-icon>
                          Change Vendor
                        </ion-row>
                        <ion-row class="pointer hover-light" *ngIf="dataTableSettings.optionDetail"
                          (click)="openRingkasan(p)">
                          <ion-icon name="eye" class="text-grey center-center mr-1"></ion-icon>
                          Lihat Ringkasan
                        </ion-row>
                        <ion-row class="pointer hover-light" *ngIf="dataTableSettings.optionDelete"
                          (click)="openAlertDelete(p,2)">
                          <ion-icon name="trash" class="text-grey center-center mr-1"></ion-icon>
                          Batalkan
                        </ion-row>
                      </ion-content>
                    </ng-template>
                  </ion-popover>
                  <ion-popover *ngIf="dataTableSettings.optionRiwayat" [trigger]="'pop-over-riwayat-'+p.uuid"
                    triggerAction="click">
                    <ng-template>
                      <ion-content class="ion-padding">
                        <ion-row class="pointer hover-light" *ngIf="dataTableSettings.optionDetail"
                          (click)="openRingkasan(p)">
                          <ion-icon name="eye" class="text-grey center-center mr-1"></ion-icon>
                          Lihat Ringkasan
                        </ion-row>
                        <ion-row class="pointer hover-light" *ngIf="dataTableSettings.optionDelete"
                          (click)="openManifest(p)">
                          <ion-icon name="cube-outline" class="text-grey center-center mr-1"></ion-icon>
                          Lihat Manifest
                        </ion-row>
                      </ion-content>
                    </ng-template>
                  </ion-popover>
                </div>
              </div>
            </ion-row>
          </div>
        </ion-list>
      </div>
      <div *ngIf="dataTable!.length===0">
        <div style="
        position: fixed;
        left: 43vw;
        top: 40vh;
    ">
          <img src="assets/icon/empty.svg">
          <p class="bold-text ml-4 pl-2 mt-3">
            Tidak ada data
          </p>
        </div>

      </div>
    </ion-content>
  </div>

</div>
<app-detail-schedule hidden></app-detail-schedule>
<app-modal-schedule-create></app-modal-schedule-create>
<app-modal-schedule (ok)="okEmit($event)" (cancel)="cancelEmit($event)"></app-modal-schedule>
<app-filter></app-filter>
<app-modal-keberangkatan> </app-modal-keberangkatan>
<app-detail-bag hidden></app-detail-bag>
<app-delete-bag hidden></app-delete-bag>
<app-add-penerbangan hidden></app-add-penerbangan>