<ion-modal id="example-modal" #modal [trigger]="idModal">
  <ng-template>
    <div class="wrapper">
      <ion-row class="justify-content-between center-center align-items-center p-2">
        <p class="mb-0 bold-text h6">
          Notifikasi
        </p>
        <div class="row mr-2 center-center align-items-center">
          <ion-icon name="arrow-forward" style="height: 24px; width: 24px;" class="pointer" (click)="closeModal()">
          </ion-icon>
        </div>
      </ion-row>
      <div class="border-light text-grey bg-white with-overflow border-bottom-light" style="height: 100vh;">
        <div>
          <div class="row pl-2 py-2 bg-grey-blue border-bottom-light align-items-center border-top-light">
            <p *ngFor="let p of listTab" class="ml-3 bold-text pointer"
              [class]="currentTab===p?'color-red bold-text bg-red-light border-radius-8 px-1':'text-grey'"
              (click)="currentTab=p">
              {{p}}
            </p>
          </div>
          <div class="col p-2 border-bottom-light">
            <div *ngFor="let p of listNotification">
              <ion-row *ngIf="currentTab===listTab[0]" class="justify-content-between align-items-center border-light my-2 hover-light pointer"
                [class]="p.read?'bg-grey-light':''">
                <ion-col size="1.5" class="align-items-center text-center">
                  <img src="assets/icon/profileDummy.svg" class="icon-medium-32">
                </ion-col>
                <ion-col size="9.5" class="px-0">
                  <p>
                    <span class="bold-text text-dark"> Toha </span> Telah menyetujui permintaan untuk perubahan manifest
                    dengan <span class="bold-text text-dark"> Taiwan - HD : No BAB 757G2000. </span>
                  </p>
                  <p class="color-red bold-text">
                    48 Menit yang lalu
                  </p>
                </ion-col>
                <ion-col size="1" class="justify-content-between align-items-center">
                  <ion-icon name="ellipse" color="red"  *ngIf="p.read"
                    style="width: 10px !important; height:10px !important;"></ion-icon>
                </ion-col>
              </ion-row>
              <ion-row *ngIf="currentTab===listTab[1] && p.read" class="justify-content-between align-items-center border-light my-2 hover-light pointer"
                [class]="p.read?'bg-grey-light':''">
                <ion-col size="1.5" class="align-items-center text-center">
                  <img src="assets/icon/profileDummy.svg" class="icon-medium-32">
                </ion-col>
                <ion-col size="9.5" class="px-0">
                  <p>
                    <span class="bold-text text-dark"> Toha </span> Telah menyetujui permintaan untuk perubahan manifest
                    dengan <span class="bold-text text-dark"> Taiwan - HD : No BAB 757G2000. </span>
                  </p>
                  <p class="color-red bold-text">
                    48 Menit yang lalu
                  </p>
                </ion-col>
                <ion-col size="1" class="justify-content-between align-items-center">
                  <ion-icon name="ellipse" color="red"  *ngIf="p.read"
                    style="width: 10px !important; height:10px !important;"></ion-icon>
                </ion-col>
              </ion-row>
            </div>

          </div>
        </div>
      </div>
    </div>
  </ng-template>
</ion-modal>