<p *ngIf="status.toLowerCase()==='berangkat'" class="fit-content bg-blue-light color-blue py-1 px-2 border-radius-8 mb-0"
  style="max-height: 35px !important;">
  {{status}}
</p>
<p *ngIf="status.toLowerCase()==='selesai'" class="fit-content bg-green-light color-green py-1 px-2 border-radius-8 mb-0"
  style="max-height: 35px !important;">
  {{status}}
</p>
<p *ngIf="status.toLowerCase()==='open'" class="fit-content bg-green-light color-green py-1 px-2 border-radius-8 mb-0"
  style="max-height: 35px !important;">
  {{status}}
</p>
<p *ngIf="status.toLowerCase()==='diajukan' || status.toLowerCase()==='close'" class="fit-content bg-grey-light text-dark py-1 px-2 border-radius-8 mb-0"
  style="max-height: 35px !important;">
  {{status}}
</p>
<p *ngIf="status.toLowerCase()==='dibatalkan'" class="fit-content bg-orange-light color-orange py-1 px-2 border-radius-8 mb-0"
  style="max-height: 35px !important;">
  {{status}}
</p>
<p *ngIf="status.toLowerCase()==='dikonfirmasi'" class="fit-content bg-blue-light color-blue py-1 px-2 border-radius-8 mb-0"
  style="max-height: 35px !important;">
  {{status}}
</p>
<p *ngIf="status.toLowerCase()==='siap Diangkut'" class="fit-content bg-orange-light color-orange py-1 px-2 border-radius-8 mb-0"
  style="max-height: 35px !important;">
  {{status}}
</p>
<p *ngIf="status.toLowerCase()==='menuju Bandara'" class="fit-content bg-orange-light color-orange py-1 px-2 border-radius-8 mb-0"
  style="max-height: 35px !important;">
  {{status}}
</p>
<p *ngIf="status.toLowerCase()==='dibandara'" class="fit-content bg-orange-light color-orange py-1 px-2 border-radius-8 mb-0"
  style="max-height: 35px !important;">
  {{status}}
</p>
<p *ngIf="status.toLowerCase()==='terbang'" class="fit-content bg-orange-light color-orange py-1 px-2 border-radius-8 mb-0"
  style="max-height: 35px !important;">
  {{status}}
</p>