<p *ngIf="status==='Berangkat'" class="fit-content bg-blue-light color-blue py-1 px-2 border-radius-8 mb-0"
  style="max-height: 35px !important;">
  {{status}}
</p>
<p *ngIf="status==='Selesai'" class="fit-content bg-green-light color-green py-1 px-2 border-radius-8 mb-0"
  style="max-height: 35px !important;">
  {{status}}
</p>
<p *ngIf="status==='Open'" class="fit-content bg-green-light color-green py-1 px-2 border-radius-8 mb-0"
  style="max-height: 35px !important;">
  {{status}}
</p>
<p *ngIf="status==='Diajukan'" class="fit-content bg-grey-light text-dark py-1 px-2 border-radius-8 mb-0"
  style="max-height: 35px !important;">
  {{status}}
</p>
<p *ngIf="status==='Dibatalkan'" class="fit-content bg-orange-light color-orange py-1 px-2 border-radius-8 mb-0"
  style="max-height: 35px !important;">
  {{status}}
</p>
<p *ngIf="status==='Dikonfirmasi'" class="fit-content bg-blue-light color-blue py-1 px-2 border-radius-8 mb-0"
  style="max-height: 35px !important;">
  {{status}}
</p>
<p *ngIf="status==='Siap Diangkut'" class="fit-content bg-orange-light color-orange py-1 px-2 border-radius-8 mb-0"
  style="max-height: 35px !important;">
  {{status}}
</p>
<p *ngIf="status==='Menuju Bandara'" class="fit-content bg-orange-light color-orange py-1 px-2 border-radius-8 mb-0"
  style="max-height: 35px !important;">
  {{status}}
</p>
<p *ngIf="status==='Dibandara'" class="fit-content bg-orange-light color-orange py-1 px-2 border-radius-8 mb-0"
  style="max-height: 35px !important;">
  {{status}}
</p>
<p *ngIf="status==='Terbang'" class="fit-content bg-orange-light color-orange py-1 px-2 border-radius-8 mb-0"
  style="max-height: 35px !important;">
  {{status}}
</p>