<ion-content [fullscreen]="true">
  <div>
    <!-- <ion-list>
      <ion-item>
        <ion-label position="floating">Label 1</ion-label>
        <ion-input autocomplete="off" type="number" [(ngModel)]="value1"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Label 2</ion-label>
        <ion-input autocomplete="off" type="number" [(ngModel)]="value2"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Label 3</ion-label>
        <ion-input autocomplete="off" type="number" [(ngModel)]="value3"></ion-input>
      </ion-item>
    </ion-list> -->

    <div class="chart-container">
      <canvas #dynamicChart id="dynamicChart"></canvas>
    </div>
  </div>

</ion-content>